@tailwind base;
@tailwind components;
@tailwind utilities;


.glow {
  animation: glow 2.5s ease-in-out infinite alternate;
  color: #cbd5e1;
}

@keyframes glow {
  100% {
    text-shadow: 
      0 0 2px #cbd5e1, 
      0 0 8px #8b5cf6, 
      0 0 16px #8b5cf6, 
      0 0 24px #8b5cf6;
  }
  0% {
    text-shadow: 
      0 0 1px #cbd5e1, 
      0 0 4px #8b5cf6, 
      0 0 9px #8b5cf6, 
      0 0 12px #8b5cf6;
  }

}